<section class="hero is-info is-bold">
  <div class="hero-body has-text-centered">
    <img src="./assets/chuck.png" id="chuck-pic">
    <h1 class="title">
      Chuck Norris Jokes
    </h1>
  </div>
  <div class="hero-foot">
      <nav class="tabs is-boxed is-centered">
        <div class="container">
          <ul>
            <li routerLinkActive="is-active"><a routerLink="Home">Home</a></li>
            <li routerLinkActive="is-active" routerLinkActiveOptions="exact:true"><a routerLink="Favorites">Favorites</a></li>
            <li routerLinkActive="is-active" routerLinkActiveOptions="exact:true"><a routerLink="Advanced Search">Advanced Search</a></li>
          </ul>
        </div>
      </nav>
    </div>
</section>
