<!-- favorites.component.html
     displays list of favorite jokes -->
<div class="section">
  <div class="container has-text-centered">
    <h1 class="title">Favorite Jokes</h1>
    <hr />
    <div class="container has-text-centered is-fluid" >
        <!-- <div class="field has-addons is-horizontal" >
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Find a joke that contains">
            </p>
            <p class="control">
              <a class="button is-info">
                Search
              </a>
            </p>
          </div> -->
          <div class="section">
            <ul>
              <!-- create <li> elements for each item in the favs array -->
              <li *ngFor="let element of favData" class="notification is-light subtitle">
                <button class="delete"(click)="removeFav(element)"></button>
                {{ element }}
              </li>
              <li class="no-favs subtitle">
                No favorites yet. Add some from the home page!
              </li>
            </ul>
          </div>
    </div>
  </div>
</div>
